<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>controller.UsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroController</servlet-name>
        <servlet-class>controller.GeneroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculasController</servlet-name>
        <servlet-class>controller.PeliculasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprasController</servlet-name>
        <servlet-class>controller.ComprasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/UsuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroController</servlet-name>
        <url-pattern>/GeneroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculasController</servlet-name>
        <url-pattern>/PeliculasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprasController</servlet-name>
        <url-pattern>/ComprasController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
